<footer>
    <section>
        <img src="{{asset "assets/icons/hayatemoon logo - blue box.png"}}">
        <div class="typography">
            <h1>حیاطمون</h1>
            <h2>مجـــــــــــله</h2>
        </div>
    </section>
    <section class="centered">
        <a href="mailto:support@hayatemoon.com"  rel="external">
            <img src="{{asset "assets/icons/mail.svg"}}" alt="Email">
        </a>
        <a href="#!" rel="external">
            <img src="{{asset "assets/icons/instagram.svg"}}" alt="Instagram">
        </a>
        <a href="#!" rel="external">
            <img src="{{asset "assets/icons/telegram.svg"}}" alt="Telegram">
        </a>
    </section>
    <section class="copyright">
        <p>	&copy; تمامی حقوق مادی و معنوی این وبسایت متعلق به حیاطمون میباشد</p>
    </section>
    <section>
        <p> طراحی شده توسط<a href="https://sarv.team"><span> سرو</span></a></p>
    </section>
</footer>